@import url(../../rotation/__rotation.css);

.header__square {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  transform: rotate(-15deg);
}
