@import url(../kaufman/__triangle/kaufman__triangle.css);
@import url(../section-title/__section-title.css);
@import url(../section-title/_theme/section-title_theme_dark.css);
@import url(../section-subtitle/__section-subtitle.css);
@import url(../section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../table/_theme/table_theme_dark.css);

.kaufman {
  padding: 90px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}
