@import url(../two-columns/two-columns.css);
@import url(../two-columns/__brief/two-columns__brief.css);
@import url(../two-columns/__main-text/two-columns__main-text.css);
@import url(../two-columns/__paragraph/two-columns__paragraph.css);

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
  display: flex;
  margin: 0px;
  justify-content: center;
}
