.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  /* parameters for the header section */
}

.logo {
  width: 154px;
  height: 31px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
  margin: 0px 0px 0px 64px;
}

.header__subtitle {
  z-index: 1;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}

.header__link {
  width: fit-content;
  display: block;
  z-index: 1;
  text-decoration: none;
  color: #2f80ed;
  margin: 0px;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  right: 0px;
  bottom: 0px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/*Description Section*/
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2rem;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0px 0px 0px;
}

.two-columns__paragraph:first-child {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

/*digits section*/
.digits{
  margin-bottom: 100px;
}

.section-title {
  margin: 0 auto 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
  width: 60%;
  text-align: center;
}

.table {
  margin: 60px auto 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  padding: 0;
  gap: 60px 0px;
}

.table__cell {
  list-style: none;
  width: 250px;
}

.table__heading {
  line-height: 1.15rem;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  margin: 20px 0px 0px;
  line-height: 1.2rem;
  font-size: 18px;
  font-weight: normal;
}

.down-position {
  margin-top: 20px;
  display: block;
}

.down-line{
  display:block;
}

/*Feynman section*/
.feynman{
  position: relative;
  height: 790px;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.feynman__title{
  margin: 100px auto 70px;
  width: 775px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle{
  margin: 0px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

/*kaufman section*/
.kaufman{
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle{
  position: absolute;
  right: -124px;
  z-index: 1;
}

/* including elements with key-value modifiers */

.section-title_theme_dark{
  color: white;
  margin: 90px auto 20px;
}

.section-subtitle_theme_dark{
  color: white;
}

.table_theme_dark{
  position: relative;
  margin: 0px auto 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  z-index: 2;
  justify-content: space-between;
  padding: 0px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/*footer*/

.footer{
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns{
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: #fff;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author{
  margin: 18px 0px 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__column_content_about{
  list-style: none;
}

.footer__column-heading{
  margin: 0px 0px 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list{
  list-style: none;
  padding: 0px;
}

.footer__column-link{
  text-decoration: none;
  color: #fff;
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
